.dashboard {
   width: 92vw;
   height: 600px;
   background-color: #8cbda8;

   outline: 3px solid rgb(26, 25, 25);
   transition: 0.2s;
   margin-top: 80px;
   border-radius: 28px;
   align-self: center;
   padding: 24px 80px;
   box-sizing: border-box;
   transition: 0.1s;

   &:hover {
      outline: 4px solid black;
      box-shadow: 3px 3px 0px 2px black;
   }

   h1 {
      font-weight: 500;
      font-size: 48px;
      margin: none;
      padding: none;
      display: inline-block;

      &:hover {
         cursor: pointer;
      }
   }
}
