$kindablack: rgba(68, 68, 68);
.navbar {
   height: auto;
   width: 100vw;
   border-bottom: 1px solid rgb(198, 198, 198);
   display: flex;
   padding: 20px 20px;
   align-items: center;
   justify-content: space-around;
   box-sizing: border-box;

   .heading {
      padding: unset;
      margin: unset;
      font-weight: 500;
      font-size: 46px;
   }

   .navlink {
      font-weight: 400;
      font-size: 18px;
      color: $kindablack;
      transition: all 0.1s;
      padding: 6px 20px;
      border-radius: 30px;

      &:hover {
         background-color: antiquewhite;

         cursor: pointer;
         color: black;

         &:nth-of-type(4) {
            background-color: rgb(255, 222, 180);
            color: black;
         }
         &:nth-of-type(5) {
            background-color: #4f929c;
            color: white;
         }
      }
   }
}
